<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" onclick="alert('不准关！')"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">哈哈哈哈哈</h4>
      </div>
      <div class="modal-body">
        <p>Hey,小姐姐</p>
        <h3>喜欢我吗？</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="alert('好巧啊！我也是！')">喜欢</button>
        <button type="button" class="btn btn-default" onclick="alert('再考虑考虑呗')">不喜欢</button>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</body>
</html>
<script type="text/javascript">
  $('#myModal').modal('show')
</script>
