<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" onclick="alert('不准关！')"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">哈哈哈哈哈</h4>
      </div>
      <div class="modal-body">
        <p>Hey,<span id="usrname"></span></p>
        <h3>喜欢我吗？</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="alert('好巧啊！我也是！')">喜欢</button>
        <button type="button" class="btn btn-default" onclick="alert('再考虑考虑呗')">不喜欢</button>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
  var usrname = '小姐姐';
  if (window.location.hash && window.location.hash.substr(1)) {
    var usrname = decodeURIComponent(window.location.hash.substr(1));
  }

  $('#usrname').text(usrname)
  $('#myModal').modal('show')
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120846759-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120846759-1');
</script>
</body>
</html>
